build/
install/
log/
/src/soem_wrapper/launch/bringup.launch.py
/src/soem_wrapper/config/dev-config.yaml

eeprom_backups/
.local_6imu_backups/

.idea/.local_6imu_rc_dshot_backups/
/src/soem_bringup/config/config.yaml
/src/soem_bringup/launch/bringup.launch.py
.local_6imu_rc_dshot_backups/
/src/soem_bringup/
*.readback.bin
